.content {
    margin-top: 220px;
    margin-bottom: 50px;
    font-size: 20px;
    color: #8eb4bc;
    text-align: center;
    line-height: 50px;
}

.content h1 {
    font-weight: 900;
    font-size: 35px;
    color: #76979d;
}

.content h2 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 40px;
}

.content h3 {
    font-weight: 400;
    font-size: 23px;
}

.content h3 a {
    text-decoration: underline;
    color: #97895f;
}

@media(max-width: 991px){
    .content {
      margin-top: 110px;
      margin-bottom: 50px;
      font-size: 15px;
      color: #8eb4bc;
      text-align: center;
      line-height: 40px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .content h1 {
        font-weight: 900;
        font-size: 26px;
        color: #76979d;
        letter-spacing: 3px;
    }

    .content h2 {
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;
        letter-spacing: 2px;
    }

    .content h3 {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1.5px;
    }

    .content h3 a {
        text-decoration: underline;
        color: #97895f;
    }
  
  }